<?xml version="1.0"?>
<configuration>
<!--
  See https://pypi.python.org/pypi/wfastcgi for more details
-->

  <system.webServer>
      <handlers>
        <remove name="Python27_via_FastCGI" />
        <remove name="Python34_via_FastCGI" />
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="D:\Python27\python.exe|D:\Python27\Scripts\wfastcgi.py|D:\Python27\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
      </handlers>

      <rewrite>
        <rules>
          <rule name="Static Files" stopProcessing="true">
            <conditions>
              <add input="true" pattern="false" />
            </conditions>
          </rule>
          <rule name="Configure Python" stopProcessing="true">
            <match url="(.*)" ignoreCase="false" />
            <conditions>
              <add input="{REQUEST_URI}" pattern="^/static/.*" ignoreCase="true" negate="true" />
            </conditions>
            <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot\mysite" />
    <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
  </appSettings>

</configuration>