<?xml version="1.0"?>
<configuration>
<!--
  See https://pypi.python.org/pypi/wfastcgi for more details
-->

  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot\mysite" />
    <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
  </appSettings>

  <system.webServer>
      <handlers>
        <remove name="Python27_via_FastCGI" />
        <remove name="Python34_via_FastCGI" />

        <add name="Python FastCGI" 
            path="*" 
            verb="*" 
            modules="FastCgiModule" 
            scriptProcessor="d:\Python27\python.exe|d:\Python27\Lib\site-packages\wfastcgi.pyc" 
            resourceType="Unspecified"
            requireAccess="Script"
        />
      </handlers>
  </system.webServer>

</configuration>