body { 
   font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

/* forms */
label { 
    clear:both;
    color:#333;
    margin-bottom:4px; 
}

input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}